
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
      <!--begin::Aside-->
      <app-sidebar></app-sidebar>
      <!--end::Aside-->
      <!--begin::Wrapper-->
      <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
        <!--begin::Header-->
        <app-topbar></app-topbar>
        <!--end::Header-->
        <!--begin::Content-->
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
          <!--begin::Toolbar-->
          <div class="toolbar" id="kt_toolbar">
            <!--begin::Container-->
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
              <!--begin::Page title-->
              <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Panel
                    <span class="h-20px border-gray-400 border-start ms-3 mx-2"></span>
                    <ol class="breadcrumb text-muted fs-6 fw-semibold">
                      
                      <li class="breadcrumb-item pe-3 ">{{carrera.nombre}}</li>
                    </ol>
                  </h1>
                <!--end::Title-->
              </div>
              <!--end::Page title-->
              <!--begin::Actions-->
              <div class="d-flex align-items-center py-1">
                
             
                <!--end::Button-->
              </div>
              <!--end::Actions-->
            </div>
            <!--end::Container-->
          </div>
          <!--end::Toolbar-->
          <!--begin::Post-->
          <div class="post d-flex flex-column-fluid" id="kt_post">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-xxl">
                
              <div class="row gy-5 g-xl-8">
                <div class="col-12">
                    <div class="card mb-5 mb-xl-5">
                        <!--begin::Card header-->
                        <div class="card-header border-0 pt-5">
                            <!--begin::Card title-->
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fs-3 mb-1 fw-700">{{carrera.nombre}}</span>
                                <span class="text-muted mt-1 fw-semibold fs-7">MATERIAS</span>
                            </h3>
                            <div class="card-toolbar">
                                <a [routerLink]="['/carrera/materia/addmateria/',carrera.cod]"   class="btn btn-dark">
                                    Añadir Materia
                                </a>
                            </div>
                            
                        </div>
                        <!--begin::Card header-->
                        <div class="card-body pt-0">
                    
                            <!--begin::Seprator-->
                            <div class="separator separator-dashed my-4"></div>
                            <!--end::Seprator-->
                    
                    
                           
                    
                            <!--begin::Seprator-->
                            <div class="separator separator-dashed my-4"></div>
                            <!--end::Seprator-->
                    
                    
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" style="margin-bottom: 0px !important;">
                                    <!--begin::Table head-->
                                    
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody *ngIf="!load_data" >
                                        
                                       <ng-container *ngIf="materias.length >=1" >
                                                <ng-container *ngFor="let item of materias |slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <!--begin::Avatar-->
                                                               
                                                                <!--end::Avatar-->
                                                                <!--begin::Name-->
                                                                <div class="d-flex justify-content-start flex-column">
                                                                    <a class="text-dark fw-bold text-hover-primary mb-1 fs-6">
                                                                        {{item.nombre_materia}}
                                                                          
                                                                    </a>
                                                                    <a class="text-hover-primary fw-semibold d-block fs-7">
                                                                        <span class="svg-icon svg-icon-5 svg-icon-success ms-n1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M9.89557 13.4982L7.79487 11.2651C7.26967 10.7068 6.38251 10.7068 5.85731 11.2651C5.37559 11.7772 5.37559 12.5757 5.85731 13.0878L9.74989 17.2257C10.1448 17.6455 10.8118 17.6455 11.2066 17.2257L18.1427 9.85252C18.6244 9.34044 18.6244 8.54191 18.1427 8.02984C17.6175 7.47154 16.7303 7.47154 16.2051 8.02984L11.061 13.4982C10.7451 13.834 10.2115 13.834 9.89557 13.4982Z" fill="currentColor"/>
                                                                            </svg>
                                                                        </span>
                                                                        {{item.cod_materia}}
                                                                    </a>
                                                                </div>
                                                                <!--end::Name-->
                                                            </div>
                                                        </td>
                                                        
                                                     
                                                    </tr>
                                                </ng-container>
                                       </ng-container>
                                        <ng-container  *ngIf="materias.length ==0" >
                                            <div data-kt-search-element="empty" class="text-center">
                                                <!--begin::Icon-->
                                                <div class="pt-10 pb-5">
                                                    <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"/>
                                                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"/>
                                                        </svg>
                                                        </span>
                                                </div>
                                                <!--end::Icon-->
                                            
                                                <!--begin::Message-->
                                                <div class="pb-15 fw-semibold">
                                                    <h3 class="text-gray-600 fs-5 mb-2">no se encontraron resultados</h3>
                                                    <div class="text-muted fs-7">Vuelva a intentar con una consulta diferente</div>
                                                </div>
                                                <!--end::Message-->
                                            </div>
                                        </ng-container>
                                    </tbody>
                                    <tbody  *ngIf="load_data">
                                        <tr>
                                            <td class="text-center" colspan="4">
                                                <div class="spinner-border" style="width: 3rem; height: 3rem; margin-top: 1.5rem;" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                  </div>
                                            </td>
                                        </tr>
                                    </tbody  >
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div> 
                            
                        </div>
                        <div class="card-footer">
                            <ngb-pagination [collectionSize]="materias.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" />
                        </div>
                    </div>
              
                </div>
              </div>

            </div>
            <!--end::Container-->
          </div>
          <!--end::Post-->
        </div>
        <!--end::Content-->
       
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Page-->
  </div>